<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form class="box">
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your Email and password !</p>
                        <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email" name="email">
                        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"
                            name="password">
                        <div [hidden]="!submitted">
                            <div class="alert alert-danger" role="alert">
                                Wrong Login / Password !
                            </div>
                        </div>
                        <a (click)="list()" class="forgot Alink">Register</a>
                        <input type="submit" *ngIf=" user.email && user.password" (click)="onSubmit()" value="Login">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>