<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<div class="panel panel-primary">
    <div class="panel-heading">
<div class="container">
    <div class="row">
        <div [hidden]="submitted" class="col-md-6">
                <form class="box">
                    <h1>Register</h1>
					<p class="text-muted"> Please enter your info !</p> 
                    <input type="text" id="fname" placeholder="First Name" required [(ngModel)]="user.firstname" name="firstname">
                    <input type="text" id="lname"  placeholder="Last Name" required [(ngModel)]="user.lastname" name="lastname">
                    <input type="text" id="mail" name="email" placeholder="Email" required [(ngModel)]="user.email" name="email"> 
                    <input type="password" id="pswd" name="password" placeholder="Password" required [(ngModel)]="user.password" name="password">  
                    <input type="password" id="repswd" name="password1" placeholder="Retype-Password" required [(ngModel)]="repswd" name="repassword">  
                    <div [hidden]="!mismatch">
                        <div class="alert alert-danger" role="alert">
                            Passwords mismatch !
                          </div>
                    </div>
					<input type="submit" *ngIf="user.firstname && user.email && user.password && user.lastname && repswd" (click)="onSubmit()" value="Register">                
				</form>
        </div>
    </div>
</div>
</div>
</div>

<div [hidden]="!submitted">
    <h4>Your account is registred successfully!</h4>
</div>